<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936593969280-cr4i6s0kmh5k9k43cehftdal2gtlgang.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936593969280-cr4i6s0kmh5k9k43cehftdal2gtlgang</string>
	<key>API_KEY</key>
	<string>AIzaSyBliB_LSeu-cHb62mU4MrAUjoTGH1L9Qpc</string>
	<key>GCM_SENDER_ID</key>
	<string>936593969280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bolcFirebaseLoginApk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-bloc-8b15d</string>
	<key>STORAGE_BUCKET</key>
	<string>login-bloc-8b15d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936593969280:ios:afaf39476a04e7401fd665</string>
</dict>
</plist>